asgiref==3.6.0
colorama==0.4.6
crispy-bootstrap5==0.7
Django==3.2.16
django-crispy-forms==1.14.0
django-qr-code==3.1.1
Pillow==9.4.0
pydantic==1.10.4
pypng==0.20220715.0
pytz==2022.7.1
qrcode==7.4.1
reportlab==3.6.12
segno==1.5.2
sqlparse==0.4.3
typing_extensions==4.4.0
