  
  {% extends "base.html" %}

{% block content %}
 

{% load static %}

<div class="container-fluid" style="text-align:right;">
<a class="btn btn-info" href="{% url 'authority_base' %}" > Authority Dashboard </a>
</div>


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<br><br><br>
<center><h3> Authority Edit Profile</h3></center>
<div class="center-column">
 <div class="item-row">
   {% load crispy_forms_tags %} 
<center>
 <form method="POST" action="" class="col-md-4">
 {% csrf_token %} {{form | crispy}}
 <input class="btn btn-info" type="submit" name="Update Task" />
 </form>
</center>

 </div>
</div>
<br><br><br><br><br><br>
{% endblock %}